.slick-slide img {
    margin: 0 auto !important;
    width:160px !important;
}
a{
    outline: none !important;
}

body div {display:flex !important;}


.slick-prev , .slick-next  {background:blue !important;  border-radius:5 !important; font-size:0px !important;}

.slick-prev::before
{
    content:"<";
    color:#fff;
    font-size:16px !important;
}
.slick-next::after
{
    content:">";
    color:#fff;
    font-size:16px !important;
}
