.slick-slide img {
    margin: 0 auto !important;
    width:160px !important;
}
a{
    outline: none !important;
}

body div {display:flex !important;}


.slick-prev , .slick-next  {background:blue !important; color:#fff !important; border-radius:5 !important;}

.slick-prev::before
{
    content:"<";
}
